<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>choosing.year</servlet-name>
		<servlet-class>com.gnm.Choosing_year</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>choosing.year</servlet-name>
		<url-pattern>/choosing_year</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- results page url -->
	<servlet>
		<servlet-name>results.com</servlet-name>
		<servlet-class>com.gnm.Results</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>results.com</servlet-name>
		<url-pattern>/goToResults</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>score.com</servlet-name>
		<servlet-class>com.gnm.ScoreBoard</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>score.com</servlet-name>
		<url-pattern>/scoreboard</url-pattern>
	</servlet-mapping>

</web-app>